<mat-toolbar color="black">
  <span  class="fill-remaining-space" style="width: 100%;text-align: center">Items you liked from {{username}}</span>
</mat-toolbar>
<div fxLayout='row' fxLayoutWrap class="cards">
<mat-card class="example-card" fxFlex="20" *ngFor="let item of itemList">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Michael Kors top</mat-card-title>
      <mat-card-subtitle>{{item.clothingCondition}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.images.data" >
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>