<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Michael Kors top</mat-card-title>
      <mat-card-subtitle>Fair condition</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img01.ztat.net/article/spp-media-p1/c6b61dbecdaf440aa665d45f5f184c69/d05d8dd1e4cb4fa794ea2b2eac33fbf8.jpg?imwidth=1800&filter=packshot" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        No defects
        Presence of original tags or labels (you must attach photos of these)
        No modifications or alterations
        Does not belong to the Lifestyle category
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>