<!-- center form and style to black -->
<mat-toolbar color="black">
  <span class="fill-remaining-space" style="width: 100%;text-align: center">Item upload</span>
</mat-toolbar>

<div [ngSwitch]="form">

  <div *ngSwitchDefault>
    <form [formGroup]="inputForm">
      <mat-form-field class="form-element">
        <mat-label>Condition</mat-label>
        <mat-select formControlName="condition">
          <mat-option value="New">New</mat-option>
          <mat-option value="Like new"> Like new</mat-option>
          <mat-option value="Good"> Good</mat-option>
          <mat-option value="Fair"> Fair</mat-option>
          <mat-option value="Poor"> Poor</mat-option>
        </mat-select>
        <mat-error *ngIf="inputForm.get('condition').hasError('required')">Please select a condition</mat-error>

      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Size</mat-label>
        <mat-select formControlName="size">
          <mat-option value="4">EU 4</mat-option>
          <mat-option value="6">EU 6</mat-option>
          <mat-option value="8">EU 8</mat-option>
          <mat-option value="10">EU 10</mat-option>
          <mat-option value="12">EU 12</mat-option>
          <mat-option value="14">EU 14</mat-option>
          <mat-option value="16">EU 16</mat-option>
          <mat-option value="18">EU 18</mat-option>
        </mat-select>
        <mat-error *ngIf="inputForm.get('size').hasError('required')">Please select a size</mat-error>

      </mat-form-field>


      <mat-form-field class="form-element">
        <mat-label>Color</mat-label>

        <mat-select formControlName="color">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="inputForm.get('color').hasError('required')">Please select a color</mat-error>

      </mat-form-field>


      <mat-form-field class="form-element">
        <mat-label>Material</mat-label>
        <mat-select formControlName="material">
          <mat-option *ngFor="let option of options1" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="inputForm.get('material').hasError('required')">Please select a material</mat-error>

      </mat-form-field>


      <mat-form-field class="form-element">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="inputForm.get('description').hasError('required')">Please provide an accurate description
        </mat-error>
        <mat-error *ngIf="inputForm.get('description').hasError('minlength')">Description should be longer than twenty
          words</mat-error>
        <mat-error *ngIf="inputForm.get('description').hasError('maxlength')">Description shorter than fifty words
        </mat-error>

      </mat-form-field>


    </form>
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary" (click)="onNoClick()">
        Cancel</button>
      <button type="button" class="btn btn-primary" (click)="next()" [disabled]="!inputForm.valid"
        cdkFocusInitial>Next</button>
    </div>
  </div>

  <div *ngSwitchCase="'switch'">
    <div class="container border-0 margin-10">
      <app-upload></app-upload>
    </div>
    <div class="col-md-12 text-center">
      <button type="button" (click)="previous()" class="btn btn-primary">Previous</button>
      <button type="button" [mat-dialog-close]="data" class="btn btn-primary">Upload</button>
    </div>
  </div>


</div>