
<form [formGroup] = "editForm"  (ngSubmit)="onSubmit()">    
  <div class="form-row">
    <div class="mb-3 mt-3">
      <span class="label text-white">Email</span>
      <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName = "email">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required"><small class="label text-white">Please input a valid email</small></div>
        <div *ngIf="f.email.errors.email"><small class="label text-white">Email is not in valid format</small></div>

    </div>
    </div>
    </div>
    <button  type="submit" class="btn btn-primary btn-lg btn-block">Change email</button>

</form>

<form [formGroup] = "passForm"  (ngSubmit)="onPasswordChange()">    
  <div class="form-row">

  <div class="mb-3 mt-3">
    <span class="label text-white">Password</span>
    <input  [ngClass]="{ 'is-invalid': submitted1 && b.password.errors }"  type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName = "password">
    <div *ngIf="submitted1 && b.password.errors" class="invalid-feedback">
      <div *ngIf="b.password.errors.required"><small class="label text-white">Password is required</small></div>
      <div *ngIf="b.password.errors.minlength"><small class="label text-white">Password must be at least 6 characters</small></div>

  </div>
  </div>

  </div>
<button  type="submit" class="btn btn-primary btn-lg btn-block">Change password</button>
</form>

