<mat-list role="list" *ngFor="let match of array">
    
    <mat-list-item role="listitem">View Details
        <!-- <li class="list-group-item">{{match.user.firstName}}></li> -->
        <img matListAvatar src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="...">
        <h3 matLine> {{match.user.username}} </h3>
        <p matLine>
          <span> {{match.user.firstName}} </span>
          <span class="demo-2"> -- {{match.user.firstName}} </span>
        </p>
        <button mat-icon-button (click)="save()">  
            <mat-icon>info</mat-icon>
        </button>

    </mat-list-item>
    <mat-divider></mat-divider>

</mat-list>
