<!-- <input type="text" id="name" name="name" class="form-control"
      required minlength="4" appForbiddenName="bob"
      [(ngModel)]="hero.name" #name="ngModel">

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert">

  <div *ngIf="name.errors?.['required']">
    Name is required.
  </div>
  <div *ngIf="name.errors?.['minlength']">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.['forbiddenName']">
    Name cannot be Bob.
  </div>

</div> -->
<div *ngIf="getSwapStatus(); else elseBlock">
  <div >

    <div class="row d-flex justify-content-center">

      <div class="col-md-15">

        <div class="card">


          <div class="text-left logo p-2 px-5">

            <img src="https://i.imgur.com/2zDU056.png" width="50">


          </div>

          <div class="invoice p-5">

            <h5>Your swap is Confirmed!</h5>

            <span class="font-weight-bold d-block mt-4">Hello, Chris</span>
            <span>Stay in contact to facilitate item delivery!</span>

            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

              <table class="table table-borderless">

                <tbody>
                  <!-- swap details go here -->
                  <tr>
                    <td>
                      <div class="py-2">

                        <span class="d-block text-muted">Swap date</span>
                        <span>12 Jan,2018</span>

                      </div>
                    </td>

                    <td>
                      <div class="py-2">

                        <span class="d-block text-muted">Swap time</span>
                        <span>MT12332345</span>

                      </div>
                    </td>


                    <td>
                      <div class="py-2">

                        <span class="d-block text-muted">Swap Location</span>
                        <span>414 Advert Avenue, NY,USA</span>

                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>


            </div>

            <div class="product border-bottom table-responsive">

              <table class="table table-borderless">

                <tbody>
                  <!-- //ng for all the items in the swap -->
                  <tr>
                    <td width="20%">

                      <img src="https://i.imgur.com/u11K1qd.jpg" width="90">

                    </td>

                    <td width="60%">
                      <span class="font-weight-bold">Men's Sports cap</span>
                      <div class="product-qty">
                        <span class="d-block">Quantity:1</span>
                        <span>Color:Dark</span>

                      </div>
                    </td>
                    <td width="20%">
                      <div class="text-right">
                        <span class="font-weight-bold">$67.50</span>
                      </div>
                    </td>
                  </tr>

                </tbody>

              </table>

            </div>

            <p>Check your email for confirmation details!</p>
            <p class="font-weight-bold mb-0">Thanks for swapping with us!</p>
            <span>Swapyard io Team</span>

          </div>


          <div class="d-flex justify-content-between footer p-3">

            <span>Swapyard io</span>

          </div>




        </div>

      </div>

    </div>

  </div>
</div>
<ng-template #elseBlock>
  <app-calendar [itemArray]=itemArray [username]=username></app-calendar>
</ng-template>