.example-card {
    float:left;
    width: 500px;
    max-width: 500px;

  }

  .card-size {
    max-width: 500px;
    width: 500px;
    max-height: 500px;
    height: 500px;

  }
  
  .example-header-image {
    background-image: url('https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces');
    background-size: cover;
  }
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button{
    float:right;
    padding: 15px 32px;
    font-size: 100px;
}
.button1{
    float:left;
    padding: 15px 32px;
    font-size: 100px;
}