<!-- <ng-container *ngFor="let  item of itemArray"> -->

<div class="main-div" > 

    <div class="button1" (click)="onLeft()">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

  <!-- ng for works, url is not safe though?? -->
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"> <div></div></div>
      <mat-card-title>{{id}}</mat-card-title>
      <!-- <mat-card-subtitle>{{this.item.size}}</mat-card-subtitle> -->
    </mat-card-header>

<img mat-card-image [src]="item.images.data" class="card-size" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- sert likes (click)="onRight() -->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Item details
            </mat-panel-title>
            <mat-panel-description>
              Click to see details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Size: {{item.size}}</p>
          <p>Condition: {{item.clothingCondition}}</p>
          <p>Color: {{item.color}}</p>
          <p>Material: {{item.material}}</p>

        </mat-expansion-panel> 
      </mat-accordion>
   
      </mat-card-actions>

  </mat-card>

  <!-- //onclick button, should store ther Swipe -->
  <div class="button">
    <button mat-fab aria-label="Example icon button with a heart icon" (click)="onRight()">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
