<!-- <div>
<div class="calendly-inline-widget" style="min-width:320px;height:580px;" data-auto-load="false">
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <script>
    Calendly.initInlineWidget({
    url: 'https://calendly.com/YOURLINK'
    });
    </script>
    </div>
    </div> -->



//you have not yet scheduled a Swap
//Shedule a swap with insert name!
//shows the swap schedule-editor
//if the swap has already been scheduled,
// move to awaiting confirmation,
//it will show you have a swap set for insert 
// at that point you should be able to cancel or edit the swap?
// if you choose not to cancel, then u wait til u meeting//once uve swapped mark as done, it will//
//automatically mark as done also
//rate ur swap experience


---- swap class, status, items in swap, swap details



    