<header>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <!-- //retrieve from db, on click change from -->

        <div *ngIf="user && user.profilepic then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><img [src]="user.profilepic.data"
            style=" width: 180px; height: 180px; max-width: 180px; max-height: 180px;" alt="">
        </ng-template>
        <ng-template #elseBlock>
          <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">     </ng-template>
  
      </div>

      <div class="profile-user-settings">
        <!-- // set to retieve for db -->
        <h1 class="profile-user-name">{{id}}</h1>
        <!-- //add on click -->
        <button class="btn profile-edit-btn" mat-raised-button (click)="editProfile()">Edit Profile</button>

        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
            aria-hidden="true"></i></button>

      </div>

      <div class="profile-stats">

        <ul>
          <!-- //retrieve from db -->
          <li><span class="profile-stat-count">{{itemArray.length}}</span> posts</li>
          <li><span class="profile-stat-count">188</span> followers</li>
          <li><span class="profile-stat-count">206</span> following</li>
        </ul>

      </div>

      <div class="profile-bio">
        <!-- //send to db and retrieve fr -->
        <span class="profile-real-name">{{user.firstName}} {{user.lastName}}</span>
        <p class="lead">{{user.bio}}</p>

      </div>

    </div>

  </div>

</header>
<main>
  <div class="container border-0">
    <div class="gallery">

      <!-- //creates a popup where it shows the rest of the details and images -->
      <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'15px'">
        <mat-grid-tile *ngFor="let media of itemArray">
          <div (click)="zoomIn(media) " (click)="openXl(content)" class="gallery-item" tabindex="0">
            <img [src]="media.images[0].data" class="gallery-image">
            <div class="gallery-item-info">

              <ul>
                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart"
                    aria-hidden="true"></i> {{media.swipes.length}}</li>
                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                    class="fas fa-comment" aria-hidden="true"></i> 2</li>
              </ul>

            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

  <!-- <button class="button button-primary" (click)="subscribeToNotifications()">
        Subscribe
      </button> -->

</main>
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

    <!-- <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div style="width: 600px; display: table-cell;"> Left </div>
                <div style="display: table-cell;"> Right </div>
            </div>
        </div> -->
    <div class="modal-body">
      <div class="carouselCont">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let item of itemtozoom.images">
            <img [src]="item.data" alt="itemtozoom.description" style="height:500px; width:500px;">
            <div class="carousel-caption">
              <h3>"{{itemtozoom.description}}"</h3>
              <p>Size: {{itemtozoom.size}}, Condition: {{itemtozoom.clothingCondition}}</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  <div class="modal-footer">
  </div>
</ng-template>




<!-- <ul class="list-inline">
    <li *ngFor="let photo of itemtozoom.images let i = index" data-toggle="modal" data-target="#myModal">
        <a href="#myGallery" data-slide-to="i"><img class="img-thumbnail" [src]="photo.data">
            <br>
  Caption</a></li>
 
        </ul> -->