<input type="file" class="file-input"
 multiple (change)="onFileSelected($event)" #fileUpload>
<div style="z-index:5; position : fixed;display : flex; align-self : flex-start;top : 20%; margin-bottom : 68px;">

<div class="file-upload">
<button mat-fab color="primary" class="upload-btn"
(click)="fileUpload.click()"> 
 <mat-icon >attach_file</mat-icon>
</button>
</div>


</div>
<div *ngIf="getArray then thenBlock else elseBlock"> </div>
<ng-template #thenBlock>
    <carousel  [height] = "250" [width] = "400" [arrows]="true"
    [images]="images" [dots]="true" [freeScroll]="true">
</carousel></ng-template>

<ng-template #elseBlock>
    <p class="lead text-center">You haven't added any images, click the paperclip to get started.</p>
</ng-template>
    
