<input type="file" class="file-input"
(change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

{{fileName || "No file uploaded yet."}}

<button mat-mini-fab color="primary" class="upload-btn"
(click)="fileUpload.click()">
 <mat-icon>attach_file</mat-icon>
</button>
</div>

<div class="container row">>
        <div class="col-md-6">
            <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
                name="name" />
        </div>
        <div class="col-md-6">
            <input type="button" (click)="getImage()" value="Get Image">
        </div>
    </div>
    
    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=retrievedImage>
                <img [src]="retrievedImage">
                
                <img [src]="domSanitizationService.bypassSecurityTrustUrl(retrievedImage)" >

            </div>
        </div>